body {
  background-image: url("../img/indexBackground.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

#mainBody { opacity: .8; }

#playStation,
#redDeadRedemption,
#grandTheftAutoV,
#horizonZeroDawn {
  width: 100%;
  background-color: black;
  color: white;
  text-align: justify;
  overflow: hidden;
  padding-left: 30px;
  padding-right: 30px;
}

#playStation:hover {
  box-shadow: 2px 2px 20px blue;
}

#redDeadRedemption:hover {
  box-shadow: 2px 2px 20px red;
}

#grandTheftAutoV:hover {
  box-shadow: 2px 2px 20px green;
}

#horizonZeroDawn:hover {
  box-shadow: 2px 2px 20px white;
}

#playStation > h1,
#grandTheftAutoV > h1 { 
  text-align: left; 
}

#redDeadRedemption > h1,
#horizonZeroDawn > h1  { 
  text-align: right; 
}

.leftPicture,
.rightPicture {
  float: left;
  height: 300px;
  width: 25%;
  margin-right: 30px;
  transition: transform 300ms ease-in-out;
}

.rightPicture {
  float: right;
  margin-right: 0px; 
  margin-left: 30px;
}

#playStation:hover > .leftPicture,
#redDeadRedemption:hover > .rightPicture,
#grandTheftAutoV:hover > .leftPicture,
#horizonZeroDawn:hover > .rightPicture{
  transition: transform 300ms ease-in-out;
  transform: rotate(360deg);
  border-radius: 100px;
}

p {
  font-size: 120%;
  font-family: sans-serif;
}

