body {
  margin: 0;
}

.container {
  border: 6px solid black;
  display: flex; /*to make it inline*/
  /*flex-direction: column;
  height: 1000px;*/
  justify-content: flex-start; /*align items to left*/
  justify-content: flex-end; /*align items to right*/
  justify-content: center; /*center the items*/
  justify-content: space-between; /*split the remaining spece between items*/
  justify-content: space-around; /*like space-between but add space at the start and end 
                                   of the container, the space is equal with half of the
                                   space between the items*/
  justify-content: space-evenly; /*equal space everywhere*/
}

.flex-item {
  color: white;
  font-size: 1.5rem;
  padding: 1rem;
  text-align: center;
}

.item-1 {
  background-color: #B4BF35;
}

.item-2 {
  background-color: #B95F21;
}

.item-3 {
  background-color: #1C4C56;
}

.item-4 {
  background-color: #CfB276;
}

.item-5 {
  background-color: #6B0893;
}

.item-6 {
  background-color: #1C4C56;
}

.item-7 {
  background-color: #B95F21;
}

.item-8 {
  background-color: #01243A;
}

.item-9 {
  background-color: #AAD041;
}